@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --rotate-x: "0deg";
  --rotate-y: "0deg";
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  font-family: "Space Grotesk", sans-serif;
  font-size: 20px;
}

@media only screen and (max-width: 768px) {
  * {
    font-size: 16px;
  }

  body {
    background: black;
    background-image: radial-gradient(rgba(255, 255, 255, 0.427) 1px, transparent 0);
    background-size: 25px 25px;
    background-position: center;

  }
}

@media only screen and (min-width: 768px) {

  body {
    background-image: url("/grainy.svg");

  }
}

body {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-image: url("/grainy.svg");
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background: rgba(88, 88, 88, 0.661);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  box-shadow: inset 0 0 6px #888;
}

.project-box-shadow {
  box-shadow: 0 0 20px rgba(223, 223, 223, 0.4);
}

.project-css:hover {
  transform: perspective(2000px) scale(1) rotateX(2deg) rotateY(5deg);
}

.perspective {
  perspective: 1500px;
}