@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

.animated-text-copy {
  stroke: white;
  stroke-width: 2px;
  animation: text-animation 3s alternate;
  animation-delay: 150ms;
}
@keyframes text-animation {
  100% {
    stroke-dasharray: 50% 0%;
    stroke-dashoffset: 40%;
  }

  0% {
    stroke-dasharray: 10% 10%;
    stroke-dashoffset: 30%;
  }
}
